<!DOCTYPE html>
<!--

 *  squarechan, a toy mobile photo-sharing app
 *     Copyright (C) 2012  Joseph Barillari
 *
 *     This program is free software: you can redistribute it and/or modify
 *     it under the terms of the GNU Affero General Public License version 3
 *     as published by the Free Software Foundation.
 *
 *     This program is distributed in the hope that it will be useful,
 *     but WITHOUT ANY WARRANTY; without even the implied warranty of
 *     MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 *     GNU General Public License for more details.
 *
 *     You should have received a copy of the GNU General Public License
 *     along with this program.  If not, see <http://www.gnu.org/licenses/>.

-->
<html>
<head>

<meta http-equiv="content-type" content="text/html; charset=UTF-8"/>
  <title>SITENAME :: privacy policy</title>
  <link rel="stylesheet" href="/static/style.css" type="text/css" media="screen" />
</head>
<body >
<div id="privacypolicy">
<h2>SITENAME privacy policy</h2>

<h3>Short summary</h3>
<p>SITENAME will not reveal any personal
information you have given us without your express permission or if we
are forced to by a court order.</p>

<h3>Complete policy</h3>

<h4>Definitions</h4> 
<p>In the following material, the pronoun "you" refers
to users of SITENAME and "we" refers to SITENAME.</p>

<h4>Why we collect information</h4> 
<p>SITENAME is a location-based
news service. We publish content provided by users so, of necessity,
when you post to SITENAME, we will record the content that you
provide. We also collect but do not publish information generated by
people browsing the site for two purposes: first, to measure and
improve our systems (e.g., to track the most and least popular parts
of the site), and second, to prevent abuse (e.g., to identify and
block IP (Internet Protocol) addresses used in attempts to spam or
otherwise attack SITENAME).</p>

<h4>What we collect</h4> 
<p>Squarechan collects two types of data: public and private.</p>
<ul>
<li><b>Public data:</b> Public data includes the content of your
posts, the location of your posts (rounded to the nearest 100 meters
or another rounding factor that you may specify*), the time of your
posts, and any pictures or other media you might attach to your posts.</li>


<li><b>Private data:</b> Private data includes a unique identifier (a
"cookie") from your browser, the name, type, and version of web
browser you're using (the "User-Agent" string) and your IP address.</li>
</ul>

<p>
* <i>Note</i>: SITENAME Android application does not currently support
customization of the rounding factor: all posts are rounded to the
nearest 100 meters.
</p>


<h4>How we use the information we collect</h4>

<ul>
<li><b>Public data:</b> As the name suggests, the posts on the site
are public data. By posting, you grant us the right to republish the
material you submitted. </li>

<li><b>Private data:</b> We never reveal private data to anyone
without a court order.  We use private data only for accounting, to
improve our site, and for security. </li>

</ul>


<h4>Updates</h4> 

<p>From time to time, we may make changes to this privacy policy. You
may find these changes posted online
at <a href="/static/privacy.html">http://squarechan.com/static/privacy.html</a>.</p>


<div class="backlink"><a href="/">&lt;&lt;&lt; back to the main page</a></div>


</body>
</html>

<!--  LocalWords:  SITENAME IP Squarechan
 -->
